
name = input("Enter your id\n")
date = input("date of participation\n")
name = print("congratulations!, "+  name )
("you have won the community robot khepri.Your bot will arive as soon as the lunar event starts. Thank you for participating in the community giveaway.")
print (' you have won the community robot khepri.Your bot will arive as  soon as the lunar event starts.Thank you for participating in the community giveaway.')
print()
"The end"
print('The end')

